<%= form_for [:admin, @comment], :html => {:class => 'form-horizontal'} do |f| %>

    <div class="modal-body">
      <div class="control-group">
        <%= f.text_area :message, :class => "input-xxlarge" %>
      </div>
    </div>
    <br>
    <div class="modal-footer">
      <%= link_to t(:close), "#", "data-dismiss" => "modal", :class => "btn", "aria-hidden" => true %>
      <%= button_tag t(:save), :disable_with => t(:processing), :class => "btn btn-primary" %>
    </div>

<% end %>


