<div class="container-fluid">
  <div class="row-fluid">
    <div class="top-padding">&nbsp;</div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <div class="row-fluid">
        <div class="span10" style="top: -44px;
                position: relative;">
          <img class="hero-image" src="/assets/hero-image.png" alt="Hero Image"/>
        </div>
        <div class="span2">&nbsp;</div>
      </div>
    </div>
    <div class="span2 hero-phone hidden-desktop hidden-tablet">
      <div class="row-fluid">
        <div class="span12 hero-title">
          <h2>Guess what? We're,</h2>
          <img src="/assets/coming-soon.png" alt="Coming soon!"/>
        </div>
      </div>
    </div>
    <div class="span2 arrow down hidden-desktop hidden-tablet">
      <div class="row-fluid">
        <div class="span12">
          <img src="/assets/arrow-down2.png" alt="Arrow down"/>
        </div>
      </div>
    </div>
    <div class="span2 arrow top hidden-phone">
      <div class="row-fluid arrow-top-padding">&nbsp;</div>
      <div class="row-fluid">
        <div class="span12">
          <img src="/assets/arrow-top-right.png" alt="Top right arrow"/>
        </div>
      </div>
    </div>
    <div class="span4 box-border signup">
      <div class="row-fluid">
        <div class="span12">
          <h2>Sign up for news!</h2>

          <p>This application will be under development till May,2013 </p>
        </div>
      </div>

      <hr/>

      <div class="row-fluid">
        <div class="span12">
          <form>
            <div class="control-group">
              <!--<label class="control-label" for="signup">Enter your email for the latest news:</label>-->
              <label class="control-label" for="signup">Like the page for the latest news:</label>

              <div class="controls">
                <div class="input-append">
                  <!--<input id="signup" class="span8" type="text" placeholder="Your email" name="signup">-->
                  <!--<a href="#" class="btn magenta">Submit</a>-->
                  <div class="fb-like" data-href="http://www.facebook.com/pages/Talkycloud/209382865871186" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-font="tahoma"></div>

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid hidden-phone">&nbsp;</div>

  <div class="row-fluid hero-row hidden-phone">
    <div class="span12 hero-title">
      <img src="/assets/coming-soon.png" alt="Coming soon!"/>
    </div>
  </div>

  <div class="row-fluid hidden-phone">&nbsp;</div>
  <div class="row-fluid hidden-phone">&nbsp;</div>

  <div class="row-fluid hidden-desktop hidden-tablet arrow down">
    <div class="span12">
      <img src="/assets/arrow-down3.png" alt="Arrow down"/>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span3 box-border social">
      <div class="row-fluid">
        <h2>Wanna be social?</h2>
      </div>
      <div class="row-fluid">&nbsp;</div>

      <div class="row-fluid">
        <div class="span4">
          <a href="http://twitter.com/ycbacakoglu" class="social-icon twitter" target="_blank"><i>&nbsp;</i></a>
        </div>
        <div class="span4">
          <a href="http://www.facebook.com/pages/Talkycloud/209382865871186" class="social-icon facebook" target="_blank"><i>&nbsp;</i></a>
        </div>
        <div class="span4">
          <a href="http://www.linkedin.com/pub/yigitcan-bacakoglu/51/1a8/790" class="social-icon linkedin" target="_blank"><i>&nbsp;</i></a>
        </div>
      </div>

      <div class="row-fluid">&nbsp;</div>

    </div>

    <div class="span5 arrow down hidden-desktop hidden-tablet">
      <div class="span12">
        <img src="/assets/arrow-down4.png" alt="Arrow down"/>
      </div>
    </div>

    <div class="span5 arrow hidden-phone">
      <div class="row-fluid">

        <div class="span5 arrow-left">
          <img src="/assets/arrow-bottom-left.png" alt="Left bottom arrow"/>
        </div>

        <div class="span2">&nbsp;</div>

        <div class="span5 arrow-right">
          <img src="/assets/arrow-bottom-right.png" alt="Right bottom arrow"/>
        </div>

      </div>
    </div>

    <div class="span4 box-border company-info">
      <div class="row-fluid">
        <h2>Awesome widget</h2>
      </div>

      <div class="row-fluid">
        <p class="lead">TalkyCloud is the new era between commenting and rating services.</p>
        <blockquote class="pull-right">
          <p>TalkyCloud is a FREE global comment system that improves discussion
            on websites and connects conversations across the web.
          </p>
          <small>YCB, Software Engineer.</small>

        </blockquote>
      </div>

      <div class="row-fluid sqrt">
        <div class="span12">
          <p class="pull-right">design by
            <a href="http://www.cinteractive.net/" target="_blank">Cinteractive</a></p>
        </div>
      </div>
    </div>
  </div>


</div>
<%= javascript_include_tag "click" %>
<%= link_to "YCB", new_user_registration_session_path %>
