<div class="container-fluid">
  <div class="row-fluid">
    <div class="top-padding">&nbsp;</div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <div class="row-fluid">
        <div class="span10" style="top: -44px;
                position: relative;">
          <img class="hero-image" src="/assets/hero-image.png" alt="Hero Image"/>
        </div>
        <div class="span2">&nbsp;</div>
      </div>
    </div>
    <div class="span2 hero-phone hidden-desktop hidden-tablet">
      <div class="row-fluid">
        <div class="span12 hero-title">
          <h2>Guess what? We're,</h2>
          <img src="/assets/coming-soon.png" alt="Coming soon!"/>
        </div>
      </div>
    </div>
    <div class="span2 arrow down hidden-desktop hidden-tablet">
      <div class="row-fluid">
        <div class="span12">
          <img src="/assets/arrow-down2.png" alt="Arrow down"/>
        </div>
      </div>
    </div>
    <div class="span2 arrow top hidden-phone">
      <div class="row-fluid arrow-top-padding">&nbsp;</div>
      <div class="row-fluid">
        <div class="span12">
          <img src="/assets/arrow-top-right.png" alt="Top right arrow"/>
        </div>
      </div>
    </div>
    <div class="span4 box-border signup">
      <div class="row-fluid">
        <div class="span12">
          <h2>Sign up for news!</h2>

          <p>This application will be under development till May,2013 </p>
        </div>
      </div>

      <hr/>

      <div class="row-fluid">
        <div class="span12">
          <form>
            <div class="control-group">
              <!--<label class="control-label" for="signup">Enter your email for the latest news:</label>-->
              <label class="control-label" for="signup">Like the page for the latest news:</label>

              <div class="controls">
                <div class="input-append">
                  <!--<input id="signup" class="span8" type="text" placeholder="Your email" name="signup">-->
                  <!--<a href="#" class="btn magenta">Submit</a>-->
                  <div class="fb-like" data-href="http://www.facebook.com/TalkyCloud" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-font="tahoma"></div>

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid hidden-phone">&nbsp;</div>

  <div class="row-fluid hero-row hidden-phone">
    <div class="span12 hero-title">
      <img src="/assets/coming-soon.png" alt="Coming soon!"/>
    </div>
  </div>

  <div class="row-fluid hidden-phone">&nbsp;</div>
  <div class="row-fluid hidden-phone">&nbsp;</div>

  <div class="row-fluid hidden-desktop hidden-tablet arrow down">
    <div class="span12">
      <img src="/assets/arrow-down3.png" alt="Arrow down"/>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span3 box-border social">
      <div class="row-fluid">
        <h2>Wanna be social?</h2>
      </div>
      <div class="row-fluid">&nbsp;</div>

      <div class="row-fluid">
        <div class="span4">
          <a href="http://twitter.com/TalkyCloud" class="social-icon twitter" target="_blank"><i>&nbsp;</i></a>
        </div>
        <div class="span4">
          <a href="http://www.facebook.com/TalkyCloud" class="social-icon facebook" target="_blank"><i>&nbsp;</i></a>
        </div>
        <div class="span4">
          <a href="http://www.linkedin.com/pub/yigitcan-bacakoglu/51/1a8/790" class="social-icon linkedin" target="_blank"><i>&nbsp;</i></a>
        </div>
      </div>

      <div class="row-fluid">&nbsp;</div>

    </div>

    <div class="span5 arrow down hidden-desktop hidden-tablet">
      <div class="span12">
        <img src="/assets/arrow-down4.png" alt="Arrow down"/>
      </div>
    </div>

    <div class="span5 arrow hidden-phone">
      <div class="row-fluid">

        <div class="span5 arrow-left">
          <img src="/assets/arrow-bottom-left.png" alt="Left bottom arrow"/>
        </div>

        <div class="span2">&nbsp;</div>

        <div class="span5 arrow-right">
          <img src="/assets/arrow-bottom-right.png" alt="Right bottom arrow"/>
        </div>

      </div>
    </div>

    <div class="span4 box-border company-info">
      <div class="row-fluid">
        <h2>Awesome widget</h2>
      </div>

      <div class="row-fluid">
        <p class="lead">TalkyCloud is the new era between commenting and rating services.</p>
        <blockquote class="pull-right">
          <p>TalkyCloud is a FREE global comment system that improves discussion
            on websites and connects conversations across the web.
          </p>
          <small>YCB, Software Engineer.</small>

        </blockquote>
      </div>

      <div class="row-fluid sqrt">
        <div class="span12">
          <p class="pull-right">design by
            <a href="http://www.cinteractive.net/" target="_blank">Cinteractive</a></p>
        </div>
      </div>
    </div>
  </div>
  <div style="display: none;">
    Along with social media development, it has generated an unprecedented volume of word of mouth surrounding brands
    and products. Customers who had historically engaged in backyard conversations with neighbors are now turning to
    online ratings and reviews, blogs, discussion groups and Twitter feeds. Previously private conversations are now
    publicly visible to potential customers and product managers. From the standpoint of companies, social media can
    provide valuable customer feedback about their products by allowing them to eavesdrop on these conversations. The
    desire to listen in on customers' online conversations about products is so pervasive across companies that it has
    spawned a cottage industry of listening companies that regularly scan online conversations gauge customer sentiment.
    In recent researches, I found that nearly half of visitors always check for reviews before make buying decisions and
    %80 would be give up if the read anything bad. People trust other people more than they do what a business tells
    them. On the other hand, it is not easy to turn on a website into an online community to make sure your visitors get
    to read and write reviews about the information like products, news articles, blog posts on your pages. I believe
    that, 3rd party social media integrated commenting - rating system is going to help websites to provide online
    community for their visitors and improve their awareness. In this report, I am going to state requirements, design
    and analysis for developing TalkyCloud which is going to be 3rd party online monitoring and rating service for
    websites and works cross-platform regardless of what programming language or scripts the website is based on.

    The evolution of online feedback and commenting has come a long way; from the old school guestbook to forum and
    feedback form, and from native platform-dependent commenting systems to today’s 3rd party commenting systems that
    work cross-platform regardless of what programming language or scripts your site is based on. These 3rd party
    commenting systems do more than just allowing visitors and readers to drop comments. Most of them support
    comprehensive comment managing backend, spam control, blacklist/ whitelist management, integration with social
    media, theme customization and much more.

    TalkyCloud - Interview with Hotel Owner Mustafa, said that the hotel websites have to take steps to encourage
    customers to write reviews. "I think that feedback on websites such as TatilPlanim can be very useful for hotels but
    we need to have the confidence that review is posted by a genius customer" he said.

    TatilPlanim Interview with Website Administrator Eren Sandikci, administrator of a hotel website, said that
    providing a feedback on a website without having control on comments may be dangerous. "I need to be sure that the
    commenter was really our customer and writing his review. I must be able to access commenters' personal information
    and delete the comment if it includes abusing language or it is spam message." he said
  </div>


</div>
<%#= javascript_include_tag "click" %>
<%= link_to "YCB", new_user_registration_session_path %>
