<%= stylesheet_link_tag "admin/application" %>
<section id="main">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">

        <div class="box footer">
          <div class="copyright text-transparent center">
            <div><i class="icon-wrench"></i><%= t(:on_maintenance) %></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
