<div class="row-fluid">
  <div class="span6">
    <div class="padded">
      <div class="section-title">
        Web Page Details
      </div>
      <div class="vpadded">
        <div class="input full-width">
          <%= f.text_field :webpage, :placeholder => "ex. talkycloud.com" %>
        </div>
        <div class="input full-width">
          <%= f.text_field :category_id, :placeholder => 'Category' %>
        </div>
        <div class="well" style="display: none;">

        </div>

      </div>
    </div>
  </div>

  <!--<div class="span6">-->
    <!--<div class="padded">-->
      <!--<div class="section-title">-->
        <!--Web Page Details-->
      <!--</div>-->
      <!--<div class="vpadded">-->
        <!--<div class="input full-width">-->
          <!--<%= f.text_field :webpage, :placeholder => "ex. talkycloud.com" %>-->
        <!--</div>-->
        <!--<div class="input full-width">-->
          <!--<%= f.text_field :category_id, :placeholder => 'Category' %>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

</div>

