<% @comments.each do |comment| %>

    <% unless comment.new_record? %>

        <%= render :partial => "shared/comment_item", :locals => {:comment => comment} %>

    <% end %>

<% end %>
<li class="comment-box view-more" style="text-align: center">
  <%= link_to_next_page @comments, 'View More', :remote => true %>
</li>