<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="box bordered">
        <div class="box-header">
          <i class="icon-list">&nbsp; LISTING CATEGORIES </i>
          <%#= link_to_with_icon "icon-white icon-plus", 'New' ,new_admin_user_url, :class => "btn btn-success pull-right" %>
        </div>
        <div class="row-fluid padded">
          <table class="table table-bordered">
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Actions</th>
            </tr>

            <% @categories.each do |category| %>
                <tr>
                  <td><%= category.name %></td>
                  <td><%= category.category_type %></td>
                  <td><%= link_to 'Edit', edit_admin_category_path(category), :class => "btn" %></td>
                </tr>
            <% end %>
          </table>

          <br/>

          <%= link_to 'New Category', new_admin_category_path, :class => "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>