$('.post-error, .post-success').remove();
var error_message = '<div class="post-error">' +
        '<%= @object.errors.first[1] if @object && @object.errors.any? %>' +
        '</div> '
var success_message = '<div class="post-success">' +
        '<%= @success[1] if @success  %>' +
        '</div>'
$('#<%= "#{@object.class.name.downcase}_#{params[:comment_id]}" %>').append(error_message);
$('#<%= "#{@object.class.name.downcase}_#{params[:comment_id]}" %>').append(success_message);

$(function () {
    var h = $('.wrapper').css('height');
    h = parseInt(h) + 20
    var socket = new easyXDM.Socket({
        onMessage: function (message, origin) {
            //do something with message
            socket.postMessage(h);
        }
    });
});