<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="box bordered">
        <div class="box-header">
          <i class="icon-user"></i> New User
        </div>
        <%= form_for [:admin, @user] do |f| %>
            <%= render :partial => "form", :locals => {:f => f} %>
            <div class="row-fluid">
              <div class="span6">
                <div class="padded">
                  <div class="vpadded">
                    <%= f.submit "Create", :class => "btn medium-blue" %> or
                    <%= link_to "Cancel", admin_users_path %>
                  </div>
                </div>
              </div>
            </div>

        <% end %>
      </div>
    </div>
  </div>
</div>





